.select-category {
    width: 25%;
    padding: 5px 0;
    font-size: 16px;
    border: 2px solid black;
    margin-bottom: 2px;
}
.add-form {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    border: 2px solid black;
    margin-bottom: 2px;
}
.block-form {
    padding: 30px 20px;
    border: 2px solid black;
    margin: 20px 30px;
}
.span-title {
    display: block;
    padding: 10px 0;
}
.btn-save {
    background: transparent;
    border: 2px solid black;
    padding:  5px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
}
.description-text-area {
    width: 100%;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.title {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}