.Post {
    border: 1px solid #ccc;
    margin: 0 20px;
    padding: 0 20px;
}
.post-title {
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}
.btn-link {
    border: 1px solid #00005d;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: capitalize;
    background: transparent;
}
.text-title {
    color: #00005d;
    font-size: 20px;
    font-weight: 400;
}
.description {
    font-size: 22px;
    color: #00005d;
    border: none;
}